.vagas {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12.25rem;
    gap: 20px;
}

.vagas-titulo {
    color: var(--cor-de-fonte-2);
    background-color: var(--cor-branco-e-rosa);
    border-radius: 16px;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-size: 14px;
    font-weight: 500;
}

.vagas-subtitulo {
    color: var(--cor-escura);
    font-weight: 600;
    font-size: 36px;
}

.vagas-texto {
    color: var(--cor-de-fonte-3);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 4rem;
}

.vagas img {
    width: 1370px;
    height:auto;
}